body {
	font-family: 'Lato', sans-serif;
	/*background: url(../images/background.jpg) no-repeat center center fixed;*/
	background-size: cover;
	align-items: center;
	height: 100%;
	margin: 10px;
}

.comic {
	text-align: center;
	margin-top: -15px;
	vertical-align: middle;
	/*background-color: #eee;*/
	border-radius: 15px;
}

.news {
	/*background-color: #eee;*/
	padding: 10px;
	border-radius: 15px;
}

.news h3 {
	margin: 13px;
}

a {
	color: black;
}

a:hover {
	text-decoration: none;
	color: darkblue;
}

.other img {
	height: 35px;
	width: 35px;
}

.link-menu {
	background-color: #fff;
	border-radius: 15px;
	padding: 15px;
}

.heading {
	font-size: 24px;
}

.link-menu div a img {
	width: 48px;
	height: 48px;
}

.link-row div {
	margin: 5px;
}

#icon-menu {
	padding: 19px;
}

.parsed div {
	margin: 9px;
}